<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>TODO - Home</title>
    <div th:replace="fragments/header :: header-head"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h1>Welcome</h1>
    <h3 sec:authorize="!isAuthenticated()">Log in to continue</h3>
    <h3 th:if="${activeItemsCount}" th:text="${'Active items: ' + activeItemsCount}"></h3>
    <h3 th:if="${doneItemsCount}" th:text="${'Done items: ' + doneItemsCount}"></h3>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>