<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO - Login</title>
    <div th:replace="fragments/header :: header-head"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container text-center">
    <form th:action="@{/login}" method="POST" class="col-lg-6 col-lg-offset-3">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username and password.
            </div>
        </div>

        <div class="form-group">
            <input type="text" id="login" name="login" th:placeholder="Login" class="form-control" required="true" autofocus="true" />
        </div>

        <div class="form-group">
            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" required="true" />
        </div>

        <button class="btn btn-lg btn-primary" type="Submit" th:text="'Log in'"></button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>