<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="text_field">
    <div class="form-group" th:classappend="${#fields.hasErrors('__${field}__')}? 'has-error'">
        <input type="text" th:field="*{__${field}__}" class="form-control"/>
        <ul th:if="${#fields.hasErrors('__${field}__')}" class="text-danger">
            <li th:each="err : ${#fields.errors('__${field}__')}" th:text="${err}"/>
        </ul>
    </div>
</div>
</body>
</html>
