<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO - Item edit</title>
    <div th:replace="fragments/header :: header-head"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <form th:object="${item}" th:action="@{/items/{id}(id=${item.id})}" method="POST" class="form-horizontal">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user}"/>
        <div class="form-group">
            <label class="control-label">Status:</label>
            <input type="checkbox" th:field="*{done}" />
        </div>
        <div th:replace="fragments/form :: text_field(field='content')"/>
        <button class="btn btn-primary" name="Submit" value="Update" type="Submit">Update</button>
        <a th:href="@{/items}" class="btn btn-default pull-right">Cancel</a>
    </form>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>